:local {
    .main {
        pre {
            background-color: #333;
            color: #8dd006;
            border-radius: 5px;
            padding: 15px;
            overflow-x: auto
        }
    }
}