@import "../../css/settings";

:local {
    .main {
        line-height: 1.5;

        .table {
            @import "../../css/common";
            @include table(5px);    
        }

        .inset {
            width: 90%;
            margin: auto;
        }
    
        .code {
            font-family: $code-font;
            padding: 0;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            margin: 0;
            font-size: 85%;
            background-color: rgba(27,31,35,0.05);
            border-radius: 3px;

            &::before, &::after {
                letter-spacing: -0.2em;
                content: "\00a0";
            }
        }
    }
}