@import "../../css/settings";

:local {
    .main {
        display: flex;
        flex-direction: column;

        .link {
            padding: 10px 15px;
            background-color: $light-blue;
            color: $midnight-blue;
            text-decoration: none;
            border-bottom: 1px solid $steel-blue;
            
            &.active {
                background-color: $steel-blue;
                color: $pale-turquoise;
            }

            &:first-child {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
            }

            
            &:last-child {
                border-bottom: none;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
    }
}