@import "../css/settings.scss";

:local {
    .outerToolbar {
        width: 100vw;
        background-color: $midnight-blue;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        //font-weight: bold;

        .innerToolbar {
            width: $app-width;
            display: flex;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;
            justify-content: space-between;

            .logoGroup {
                display: flex;
                align-items: center;

                .logo {
                    padding: 0px 10px;
                    height: 45px;
                    background: radial-gradient(circle 25px, $pale-turquoise, $midnight-blue);
                }
        
                .titleText {
                    padding-left: 10px;
                    color: $pale-turquoise;
                }
            }

            .link {
                padding: 10px;
                color: $light-blue;
                text-decoration: none;

                &.active {
                    text-decoration: underline;
                    color: $pale-turquoise;
                }
            }
        }
    }
}