:local {
    @import "../css/settings";

    .table {
        @import "../css/common";
        @include table(5px);

        tr {
            // Icon
            td:nth-child(1) {
                vertical-align: center;
                text-align: center;
                width: 51px;
            }

            // Name
            th:nth-child(2) {
                width: 140px;
            }

            // Minimum Version
            th:nth-child(3) {
                width: 125px;
            }
            
            // Notes
            td:nth-child(4) {
                font-style: italic;
            }
        }
    }
}