@import "../css/settings";

:local {
    .main {
        background-color: #272822;
        padding: 10px;
        border-radius: 5px;
        font-family: $code-font;
        font-size: 13px;
        overflow-x: auto;

        .green {
            color: #8dd006;
        }

        .yellow {
            color: #b6b649;
        }

        .darkGrey {
            color: #7c7c7c;
        }

        .grey {
            color: #cacaca;
        }

        .red {
            color: #a70334;
        }

        .white {
            color: #ffffff;
        }
    }
}