@import "../css/settings";

:local {
    .main {
        .table {
            @import "../css/common";
            @include table(5px);
        }

        display: flex;
        flex-direction: row;

        .sidePanel {
            width: 250px;
            padding-top: 25px;
            padding-right: 20px;
            flex-shrink: 0;
        }

        .mainPanel {
            flex: 1 1 400px;
            width: 400px;
        }
    }
}