@mixin table($border-radius) {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border-radius: 30px;
    border-style: hidden; /* hide standard table (collapsed) border */
    font-size: 14px;

    tr {
        td, th {
            text-align: left;
            padding: 5px 10px;

            img {
                height: 25px;
            }
        }

        th {
            color: $pale-turquoise;
        }

        &:first-child {
            th:first-child {
                border-top-left-radius: $border-radius;
            }

            th:last-child {
                border-top-right-radius: $border-radius;
            }
        }

        &:last-child {
            td:first-child {
                border-bottom-left-radius: $border-radius;
            }

            td:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }

        &:nth-child(odd) {
            background-color: $pale-turquoise;

            th {
                background-color: $steel-blue;
            }
        }

        &:nth-child(even) {
            background-color: rgba($pale-turquoise, .5);
        }
    }
}