@import "./css/settings.scss";

:local {
    .main {
        position: relative;

        .toolbar {
            height: $toolbar-height;
            position: fixed;
        }

        .pageOuter {
            padding-top: $toolbar-height;
            display: flex;
            justify-content: center;
            background-color: lightgray;
            min-height: 100vh;
            box-sizing: border-box;

            .page {
                width: $app-width;
                background-color: white;
                padding: 40px;
                padding-top: 0px;
                height: auto;
                box-shadow: 0px 2px 11px 18px rgba(0, 0, 0, 0.2);
            }
        }
    }
}